[JavaScript:{ path: "~/DesktopModules/<%= moduleName %>/Scripts/ItemView.js"}]
[JavaScript:{ path: "https://unpkg.com/vue@2.1.10/dist/vue.js", priority: 0}]
[CSS:{ path: "~/DesktopModules/<%= moduleName %>/Scripts/client-app/css/app.css"}]

<div data-moduleid="[ModuleContext:ModuleId]" data-tabid="[ModuleContext:TabId]" data-editmode="[ModuleContext:EditMode]">
    <div id="app"></div>
    <script type="text/javascript" src="/DesktopModules/<%= moduleName %>/Scripts/client-app/js/chunk-vendors.js"></script>
    <script type="text/javascript" src="/DesktopModules/<%= moduleName %>/Scripts/client-app/js/app.js"></script>
</div>

<script language="javascript" type="text/javascript">
    //jQuery(function ($) {
    //    <%= moduleName %>Vue.InitApp(Number('[ModuleContext:ModuleId]'), '[ModuleContext:EditMode]' === 'True');
    //});
</script>