[ModuleAction:{ controlKey : "Edit", 
                securityAccessLevel : "Edit",  
                title: "Edit",
                titleKey: "EditModule",
                localResourceFile: "~/DesktopModules/<%= friendlyName %>/App_LocalResources/View.resx"
}]
<div id="<%= namespaceRoot.toLowerCase() %><%= friendlyName %>" data-moduleid="[ModuleContext:ModuleId]"></div>
<script language="javascript" type="text/javascript">
    function getmoduleId(){
        return '[ModuleContext:ModuleId]';
    }
</script>
[CSS:{ path: "~/DesktopModules/<%= friendlyName %>/Resources/module.css"}]
[JavaScript:{ path: "~/DesktopModules/<%= friendlyName %>/dist/Resources/scripts/app-bundle.js", provider: "DnnFormBottomProvider"}]
