[ModuleAction:{ controlKey : "Edit", 
                securityAccessLevel : "Edit",  
                title: "Edit",
                titleKey: "EditModule",
                localResourceFile: "~/DesktopModules/<%= friendlyName %>/App_LocalResources/View.resx"
}]
<base href="[ModuleProperties:rawurl]">
<<%= namespaceRoot.toLowerCase() %>-<%= friendlyName.toLowerCase() %> data-moduleid="[ModuleContext:ModuleId]" data-anti-forgery-token="[AntiForgeryToken:true]"></<%= namespaceRoot.toLowerCase() %>-<%= friendlyName.toLowerCase() %>>
<script>
    window["<%= friendlyName %>"] = [ModuleProperties:All]
</script>
[CSS:{ path: "~/DesktopModules/<%= friendlyName %>/Resources/module.css"}]
[JavaScript:{ path: "~/DesktopModules/<%= friendlyName %>/dist/runtime.js", provider: "DnnFormBottomProvider"}]
[JavaScript:{ path: "~/DesktopModules/<%= friendlyName %>/dist/polyfills.js", provider: "DnnFormBottomProvider"}]
[JavaScript:{ path: "~/DesktopModules/<%= friendlyName %>/dist/main.js", provider: "DnnFormBottomProvider"}]