[JavaScript:{ jsname: "JQuery" }]
[JavaScript:{ path: "https://unpkg.com/vue@3", priority: 0}]
[CSS:{ path: "module.css"}]

<div id="Items-[ModuleContext:ModuleId]">
    <div id="app-[ModuleContext:ModuleId]"
         class="appUpendoSendUI"
         data-moduleid="[ModuleContext:ModuleId]"
         data-tabid="[ModuleContext:TabId]"
         data-editmode="[ModuleContext:EditMode]"
         data-apibaseurl=""></div>
</div>

<script type="text/javascript" src="/DesktopModules/<%= friendlyName %>/scripts/client-app/js/chunk-vendors.js"></script>
<script type="text/javascript" src="/DesktopModules/<%= friendlyName %>/scripts/client-app/js/app.js"></script>
<script language="javascript" type="text/javascript">
</script>